/* Universal */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(black, rgb(50, 50, 50), gray, white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    position: relative;
    text-decoration: none;
    transition: all ease 0.3s;
}

a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 0%;
    height: 2px;
    background-color: blueviolet;
    transition: all ease 0.3s;
}

a:hover {
    color: blueviolet;
    transition: all ease 0.3s;
}

a:hover::before {
    width: 100%;
    transition: all ease 0.3s;
}

/* Classes */
.container {
    color: white;
    background-color: rgb(50, 50, 50);
    box-shadow: rgb(0, 0, 0) 0 0 25px;
    width: 350px;
    padding: 10px;
    border-radius: 15px;
}

.input-label {
    background-color: rgba(255, 255, 255, 0.8);
    width: 75%;
    height: 30px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    transition: all ease 0.3s;
}

.input-label:hover, .input-label:focus {
    transform: scale(1.1);
    background-color: white;
    transition: all ease 0.3s;
}

.support-container {
    margin-bottom: 25px;
}

.result-container {
    color: lightgreen;
}

/* Identifiers */
#submit-button {
    color: white;
    background-color: rgb(140, 0, 255);
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

#submit-button:hover {
    transform: scale(1.1);
    background-color: rgb(174, 75, 255);
    transition: all ease 0.3s;
    margin-bottom: 15px;
}
