/* Universal */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* Classes */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
}

.info-container label {
    text-shadow: white 1px 1px 10px;
}

.entry-container {
    color: white;
    background-color: rgb(50, 50, 50);
    box-shadow: rgb(75, 75, 75) 0 0 15px;
    border: none;
    border-radius: 15px;
    width: 90%;
    padding: 15px;
    margin: 15px;
    margin-bottom: 50px;
}

.about-container {
    color: white;
    background-color: rgb(50, 50, 50);
    box-shadow: rgb(75, 75, 75) 0 0 15px;
    border: none;
    border-radius: 15px;
    width: 90%;
    padding: 15px;
    margin: 15px;
    margin-bottom: 50px;
}

.header-container {
    color: red;
}

.start-container {
    width: 50%;
}

/* Identifiers */
#start-button {
    color: white;
    background-color: rgb(255, 0, 0);
    box-shadow: red 0 0 25px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
}

#start-button:hover {
    transform: scale(1.1);
    background-color: rgb(255, 75, 75);
    transition: all ease 0.3s;
}